<div class="content">
    <div class="container">
        <div class="row">
            <div class="4u 12u$(medium)">
                <header>
                    <h2>About <i class="logo cover logo-white inline-block" style="height: 60px; width: 125px; vertical-align: text-top;"></i></h2>
                    <p class="justify">SKeepy is, simply put, a professional level score-keeping platform, <strong>open for everyone</strong>!</p>
                </header>
            </div>
            <div class="4u 12u$(medium)">
                <h3>
                    How?
                </h3>
                <p class="justify">
                    It all starts from its point collecting interface.
                    Think of it as that tablet device you see the tennis umpires using to track the match score.
                    This is the main data controller and therefore a lot of effort is invested in making it as usable as possible.
                </p>
            </div>
            <div class="4u$ 12u$(medium)">
                <p>
                    Morbi enim nascetur et placerat lorem sed iaculis neque ante
                    adipiscing adipiscing metus massa. Blandit orci porttitor semper.
                    Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
                    mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
                    ipsum dolor nullam.
                </p>
            </div>
        </div>
    </div>
</div>