<div class="content">
    <div class="container">
        <div class="row">
            <div class="4u 12u$(medium)">
                <header>
                    <h2>About <i class="logo cover logo-white inline-block" style="height: 60px; width: 125px; vertical-align: text-top;"></i></h2>
                    <p class="justify">SKeepy is, simply put, a professional level score-keeping platform, <strong>open for everyone</strong>!</p>
                </header>
            </div>
            <div class="4u 12u$(medium)">
                <h3>
                    How?
                </h3>
                <p class="justify">
                    It all starts from its point collecting interface.
                    Think of it as that tablet device you see the tennis umpires using to track the match.
                    This is the main data controller and therefore a lot of effort is invested in making it as usable as possible.
                </p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>
                    Then what?
                </h3>
                <p class="justify">
                    The collected clash data is projected into the scoring format of a specific sport, say tennis.
                    This projection is broadcasted real-time to any willing viewer and also persisted for future reference and analysis.
                    What you basically get is something similar to <a href="http://wimbledoninsights.netcommunities.com/ibm-wimbledon/slamtracker-explained/" target="_blank">IBM&reg; SlamTracker&trade;</a>.
                </p>
            </div>
        </div>
    </div>
</div>