<div class="content">
    <header>
        <h2><i class="logo cover logo-white inline-block" style="height: 50px; width: 125px; vertical-align: text-top;"></i></h2>
        <p>
            Basic Features
        </p>
    </header>
    <p class="justify">
        Point-level tracking with details tailored for each sport.
        Say, for tennis, details like:
        <ul class="justify">
            <li>
                Forehand or Backhand shot
            </li>
            <li>
                Ace, Passing shot, Unforced error or Double Fault
            </li>
            <li>
                Spin was flat, top or slice
            </li>
            <li>
                Drop shot, smash, cross, down the line
            </li>
            <li>
                Who gets credit for the point
            </li>
        </ul>
    </p>
    <p class="justify">
        Ability to undo point as human errors do happen.
    </p>
    <ul class="actions">
        <li><a href="#features-next" class="button scrolly">More...</a></li>
    </ul>
</div>