<div class="container">
    <header class="major">
        <h2><i class="logo cover logo-white inline-block" style="height: 50px; width: 125px; vertical-align: text-top;"></i></h2>
        <p>Modules</p>
    </header>
    <div class="box alt">
        <div class="row uniform">
            <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-bullseye"></span>
                <h3>Point Level Tracker</h3>
                <p>Point tracker with individual details tailored for each sport.</p>
            </section>
            <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-language"></span>
                <h3>Score Projector</h3>
                <p>Scoring projectors that translate the tracked points into sport specific score and clash statistics.</p>
            </section>
            <section class="4u$ 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-wifi"></span>
                <h3>Broadcaster</h3>
                <p>Realtime score broadcaster responsible for synchronizing the point tracker with the viewers.</p>
            </section>
            <section class="4u 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-database"></span>
                <h3>Data Warehouse</h3>
                <p>The persistent repository storing all the tracked data.</p>
            </section>
            <section class="4u 6u(medium) 12u$(xsmall)">
                <span class="icon alt major fa-line-chart"></span>
                <h3>Analytics</h3>
                <p>Interpreter of your data, analyzing your strong and weak points, presenting them in a visual-friendly manner.</p>
            </section>
            <section class="4u$ 6u$(medium) 12u$(xsmall)">
                <span class="icon alt major fa-exchange"></span>
                <h3>Exchange</h3>
                <p>Translates your data in various formats compatible with external systems for integration or sharing.</p>
            </section>
        </div>
    </div>
    <footer class="major">
        <ul class="actions">
            <li><a href="#funding" class="button scrolly">Make it happen !</a></li>
        </ul>
    </footer>
</div>