<div class="content">
    <header>
        <h2><i class="logo cover logo-white inline-block" style="height: 50px; width: 125px; vertical-align: text-top;"></i></h2>
        <p>
            Advanced Features
        </p>
    </header>
    <p class="justify">
        Real-time broadcast with score viewers tailored individually for each sport
        <ul class="justify">
            <li>
                Display it on a big screen, to use it like a professional score board
            </li>
            <li>
                Share a live clash so anyone can see the action in real-time
            </li>
            <li>
                Real-time statistics about the clash
            </li>
        </ul>
    </p>
    <p class="justify">
        Post game statistics and analytics.
    </p>
    <p class="justify">
        Historical data so you can analyze your progress and work on your weak spots.
    </p>
    <ul class="actions">
        <li><a href="#modules" class="button scrolly">Modules</a></li>
    </ul>
</div>