.logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("images/SkeepyLogo_640_640.png");
    background-size: contain;
    width: 640px;
    height: 640px;
}

    .logo.cover {
        background-size: cover;
    }

    .logo.logo-white {
        background-image: url("images/SkeepyLogo_White_640_640.png");
    }

.inline-block {
    display: inline-block;
}

#banner {
    background-image: url("../images/walls/fed_blue.jpg");
}

    #banner:after {
        background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.55)), url("images/overlay.png");
        background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.55)), url("images/overlay.png");
        background-image: -ms-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.55)), url("images/overlay.png");
        background-image: linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.55)), url("images/overlay.png");
    }

.justify {
    text-align: justify;
}

.more-content {
    margin-top: 2em;
}